<canvas id="thecanvas" keepalive="true"></canvas>
<img id="star" style="display:none" src="/images/rainbow-star.png">
<div id="overlay">
  <h1>Megart</h1>
  <h2 id="status">Waiting for artists...</h2>
</div>
<script src="/js/paper.js"></script>
<script type="text/paperscript" src="/js/viewer.js" canvas="thecanvas"></script>
