<canvas id="thecanvas" keepalive="true"></canvas>
<img id="star" style="display:none" src="/images/rainbow-star.png">
<img id="nyan" width="100" style="display:none" src="/images/nyan.gif">
<div id="overlay">
  <h1>Color Runner</h1>
  <h2 id="status">Waiting for artists...</h2>
</div>
<script src="/js/paper.js"></script>
<script type="text/paperscript" src="/js/viewer.js" canvas="thecanvas"></script>

<!--
<audio id="running" src="https://dl.dropboxusercontent.com/u/4863004/running.mp3" autobuffer preload=none loop style='display:none'>
<audio id="nyan" src="http://dl.dropbox.com/u/31703/nyan.mp3" autobuffer preload=none loop style='display:none'>
-->
