<canvas id="thecanvas" keepalive="true"></canvas>
<img id="star" style="display:none" src="/images/rainbow-star.png">
<img id="nyan" width="100" style="display:none" src="/images/nyan.gif">
<div id="overlay">
  <h1>Color Runner</h1>
  <h2 id="status">Waiting for runners...</h2>
</div>

<script src="/js/paper.js"></script>
<script type="text/paperscript" src="/js/viewer.js" canvas="thecanvas"></script>
