<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Megart - {{title}}</title>
  <link href="stylesheets/desktop.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  {{{body}}}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/desktop.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>
